<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="es-AR" ng-app="app"><!--<![endif]-->
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/search %>
      <main role="main" ng-controller="searchController">
        <section class="container container-fluid" role="product" data-type="list">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title text-dark">Listado de Productos buscados {{query}}</h4>
                </div>
            </div>
            <% include ./partials/breadcrumb %> 
            <div class="row">
                <div class="card-box col-md-12" ng-repeat="product in products">
                    <meta itemprop="url" content="{{product.permalink}}">    
                    <div id="{{product.id}}" class="col-xs-12 col-md-12" itemscope itemtype="https://schema.org/Product">
                        <div class="float-left col-md-4">
                            <div id="image-block">
                                <span class="view-thumb">
                                    <img itemprop="image" src="{{product.pictures[0].source}}" class="img-responsive" title="{{product.title}}" alt="{{product.title}}" role="presentation"/>
                                </span>
                            </div>
                        </div>
                        <div class="float-left col-md-6">
                            <h1 itemprop="name" class="jumbotron-heading text-dark text-xs-center font-20">{{product.title}}</h1>
                            <h3 class="font-14" style="display:none;">Categoria ID:{{product.categoria_id}}</h3>
                            <fieldset class="m-b-15" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                <link itemprop="availability" href="https://schema.org/InStock"/>
                                <span itemprop="price" content="{{product.price}}" class="price font-20 text-md-left">${{product.price.amount}}<sup>{{product.price.decimal}}</sup></span>
                                <meta itemprop="priceCurrency" content="{{product.currency}}" />
                            </fieldset>
                            <p role="description">
                                {{product.description}}
                            </p>
                        </div>
                        <div class="float-left col-md-2">
                            <span class="p-30 clearfix">
                                {{product.state}}
                            </span>
                            <span class="p-30 clearfix">
                                <img src="/static/img/ic_shipping@2x.png.png" alt="Mercado Envio" itemprom="image"/>
                                {{product.shipping.free_shipping ? 'Mercado Envio' : 'No tiene Envio'}}
                            </span>
                            <a href="#" class="btn btn-success col-md-12 btn-lg" ng-click="view(product.id)">Visualizar</a>
                            <a href="{{product.permalink}}" target="_blank" class="btn btn-primary col-md-12 btn-lg m-t-15">Comprar</a>
                        </div>
                    </div>
                </div><!-- end car-box-->
            </div><!--end row-->
        </section>
      </main>
    <% include ./partials/footer %>   
  </body>
</html>
