<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body id="app">
    <% include ./partials/search %>
      <main role="main">
        <section class="container container-fluid" role="product" data-type="list">
            
        </section>
      </main>
    <% include ./partials/footer %>   
  </body>
</html>
