<footer class="text-muted" role=”contentinfo” >
    <div class="container">
        <p class="float-right">
        <a href="#">Back to top</a>
        </p>
        <p>Ml Practice example is &copy; DemoTest</p>        
    </div>
</footer>
<!-- jQuery  -->
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/underscore-min.js"></script>
<script src="/static/js/vendor/backbone-min.js"></script>
<!-- App -->
<script src="/static/js/products.min.js"></script>
