<footer class="text-muted" role=”contentinfo” >
    <div class="container">
        <p class="float-right">
        <a href="#">Back to top</a>
        </p>
        <p>Ml Practice example is &copy; DemoTest</p>        
    </div>
</footer>
<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- App -->
<script src="/static/js/main.js"></script>