<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="es-AR" ng-app="app"><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Practica de front-end con framwork express.js">
    <meta name="author" content="Damian Soria">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="manifest" href="./manifest.json">
    <% include ./partials/header %>
  </head>
  <body ng-controller="loginController">
    <% include ./partials/search %>
        <div role="main" class="wrapper-page">
            <div id="error" class="full-body-content">
                <div class="center-content">
                    <h1>Ha ocurrido un error inesperado</h1>
                    <ul id="suggested-actions">
                        <li>Prueba realizando una nueva busqueda.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end wrapper page -->
        <footer class="text-muted" role=”contentinfo” >
            <div class="container">
                <p class="float-right">
                <a href="#">Back to top</a>
                </p>
                <p>Ml Practice example is &copy; DemoTest</p>        
            </div>
        </footer>
        <!-- jQuery  -->
  </body>
</html>