<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="es-AR" ng-app="app"><!--<![endif]-->
  <head>
    <% include ./partials/header %>
  </head>
  <body ng-controller="loginController">
    <% include ./partials/search %>
      <div role="main" class="wrapper-page">
            <div class="text-xl-center text-md-center text-xs-center">
                <img src="/static/img/avatar.svg" alt="Avatar"/>
                <h4 class="m-t-20">¡Hola! Ingresá a Mercadolibre para ver tus productos</h4>   
            </div>
        	<div class="account-bg">
                <div class="mb-0">
                    <form action="#" data-parsley-validate="" novalidate="">
                        <div class="form-group m-b-0">
                            <a class="btn btn-ml waves-effect waves-light btn-lg col-xs-12 col-md-12 col-lg-12" ng-click="login()">
                                <span class="btn-label pull-left"><i class="fa fa-lock"></i></span> Ingresar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card-box-->
        </div>
        <!-- end wrapper page -->
      <% include ./partials/footer %>
  </body>
</html>
